<div class="py-5">
    <div class="container col col-md-auto">
        <h1 class="mb-5">Nos appareils: </h1>
        <small>
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group me-2" role="group" aria-label="First group">
                    <button type="button" class="btn btn-success" (click)="switchOnAll()" >Allumer</button>
                </div>
                <div class="btn-group me-2" role="group" aria-label="Second group">
                    <button type="button" class="btn btn-danger" (click)="switchOffAll()" >Eteindre</button>
                 </div>
            </div>
        </small>
        <br><br>
        <div class="row">
            <app-appareil *ngFor="let appareil of appareils" [appareil]="appareil"></app-appareil>
        </div>
    </div>

</div>